body {
  background-color: #23C9FF;
  font-family: 'Merriweather', serif;
  line-height: 1.5em;
}

.header,
#img-div,
.footer {
  text-align: center;
}

main {
  background-color: #FFF;
  margin: 0 auto;
  margin-top: -10px;
  padding: 25px;
  max-width: 900px;
  margin-bottom: 15px;
  border-radius: 3px;
}

.header {
  margin-top: 20px;
  padding-top: 25px;
}

img {
  max-width: 100%; 
  display: block; 
  height: auto;
  margin: auto;
}

#img-div {
  margin: 0 auto;
  max-width: none;
}

span {
  font-weight: bold;
}

.content, .works {
  margin: 20px;
  padding: 20px;
}

#tribute a {
  text-decoration: none;
}

#tribute a:hover {
  text-decoration: underline;
}

#tribute a:active {
  color: #FF00AA;
}

.footer {
  margin: 0 auto;
  margin-bottom: -10px;
  padding: .6em;
  max-width: 910px;
  background-color: #83C9FF;
  border-radius: 3px;
}

.footer a {
  padding-left: 10px;
}

.footer a:hover {
  color: #0af;
  translate: 0.5s;
}